@import './base.css';

/* #app {
  height: 100vh;
  display: flex;
} */

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
input {
  font-family: var(--font-family);
}
button {
  font-family: var(--font-family);
  background: none;
  padding: 0;
  color: inherit;
  border: none;
  cursor: pointer;
}